In [1]:
import pandas as pd
# pd.read_csv = Loads data into memory as a DataFrame
df = pd.read_csv('/Users/suleman/Downloads/netflix_titles.csv')

In [2]:
import os
print(os.getcwd())

/Users/suleman

In [3]:
from sqlalchemy import create_engine
import urllib.parse
password = urllib.parse.quote_plus('Suleman@123')
# create_engine = Tells Python how to connect to a database
engine = create_engine(f'mysql+pymysql://root:{password}@localhost:3306/Netflix_project')
# engine.connect() = Opens that connection
conn = engine.connect()
# df.to_sql = Writes the DataFrame into an actual SQL table
df.to_sql('netflix_titles', con = conn, index = False, if_exists = 'replace')
# conn.close() = Safely closes the connection
conn.close()

In [4]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [5]:
# To find the maximum length of the each column so that we can make chnages in data type and..... 
# space that they are taking, so that more space can be saved.
max(df.description.dropna().str.len())

248